/* https://stackoverflow.com/questions/16242980/making-radio-buttons-look-like-buttons-instead */
.productOfMonthBanner{
    background-color: aquamarine;
    padding:50px;
    text-align: center;
}

.productOfMonthBanner h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 300px;
    margin: 0 auto;
    padding:20px;
}

.productDetailSection{
    display:grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 10px;
    max-width: 1200px;
    margin: 2em auto;
    justify-items: center;
}

.productDetailSection{
    padding:20px;
}


.details h2, .details p{
margin: 10px 0;
}

.details button {
    border: 1px solid black;
    border-radius: 10px;
    padding:1em;
    margin: 10px 0;
    width:100%;
}

.quantityBox{
display:flex;
justify-content: space-between;
align-items: center;
padding: 5px;
}

.quantityBox input{
padding:0.5em;
font-size: 16px;
}


.sizeBox{
    display:flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.sizeBox div{
    position: relative;
    width: 100px;
    height: 40px;
    text-align:center;
    margin: 10px;
}


.sizeBox input, .sizeBox label{
display: block;
position: absolute;
border: 1px solid black;
border-radius: 10px;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.sizeBox input[type="radio"]{
    opacity: 0.01;
    z-index: 100;
}

.sizeBox input[type="radio"]:checked+label, .Checked+label{
    background-color: aqua;
}

.sizeBox label {

    padding: 5px;
    border: 1px solid #e83c3c;
    cursor: pointer;
    z-index: 90;
  }

  .sizeBox div:hover {
    background: #DDD;
    border-radius: 10px;
  }
  



@media screen and (min-width: 768px) {
    .productDetailSection{
        grid-template-columns: 1fr 1fr;
        gap: 4em;
    }
}