.productBox {
  display:block;
  text-decoration: none;
  color:black;
  position:absolute;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  height: 250px;
  width: 200px;
  overflow: hidden;
  transition: width .5s, height .5s;
  background-color: var(--secondaryColor, #d9e5d6);
}

.productBox:hover {
  width: 225px;
  height: 290px;
  
}


/* .card img:hover {
  height: 255px;
} */
