.footer {
    background-color: var(--primaryColor, #0fa3b1);
    display:flex;
    flex-direction: column;
    gap:25px;
    align-items:center;
    padding:50px;
    text-align: center;
    font-weight: bold;
}

.instagram, .facebook{
    width:40px;
    margin: 0px 20px;
    color:black;
}


.instagram:hover{
     background-color: var(--accentTwo, #ff9b42);
     border-radius: 10px;
}

.facebook:hover{
    background-color: var(--accentTwo, #ff9b42);
    border-radius: 5px;
}

@media screen and (min-width: 700px) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
  }