.cartBtn{
padding:20px;
display:flex;
justify-content: space-between;
align-content: center;
cursor: pointer;
font-weight: bold;
border:none;
border-radius: 50px;
background-color: var(--secondaryColor, #d9e5d6);
margin-right:20px;
}

.icon{
    width:25px;
    height:25px;
}

.badge{
    padding: 0.25rem 1rem;
    font-weight: bold;
    background-color: #f8f8f8;
    border-radius: 100%;
}

.cartText{
    display:none;
}

.cartBtn:hover .badge,
.cartBtn:active .badge {
  background-color: var(--accentTwo, #ff9b42);
}

.cartBtn:hover,
.cartBtn:active {
    background-color: var(--accentOne, #f9dc66);
}

@media screen and (min-width: 500px) {
    .cartText{
        display:block;
        padding:5px;
    }
  }