.icon{
    width:25px;
    height:25px;
}

.badge{
    padding: 0.25rem 1rem;
    font-weight: bold;
    background-color: #f8f8f8;
    border-radius: 100%;
}

.cartText{
    display:none;
}

@media screen and (min-width: 500px) {
    .cartText{
        display:block;
        padding:5px;
    }
  }