.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:15px;
    background-color: var(--primaryColor, #0fa3b1);
    padding:5px;
}

.header div{
    order: 2;
}


/* .headerHome{
    justify-content: center;
}

.headerHome img{
    height: 175px;
} */

.header img{
    height: 200px;
}

.shopBtn{
    width: 100px;
}

.shopBtn svg{
    width: 15px;
}

.shopBtn span{
    margin: 0 5px;
}

@media screen and (min-width: 750px) {
    .header{
        flex-direction: row;
    }

    .header img{
       height: 125px;
       width:150px;
      
    }

    .header div{
        order: 0;
    }
    
    
  }