.navigation{
    /* padding:2em;
    background-color: var(--secondaryColor, #d9e5d6); */
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0;
}

.navigation ul{
    display:flex;
    justify-content: center;
    gap: 2em;
}

.navigation ul li{
    list-style: none;
    
}

.navigation ul a{
    padding:10px;
    border-radius: 10px;
    transition: 0.25s;
    color:#d9e5d6;
    
}

.navigation ul a:hover{
    color:#ff9b42;
    
}

@media screen and (min-width: 768px) {
    .navigation{
        padding:1em;
    }
  }