.orderDetailSection {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
}

.orderDetailSection .orderH2 {
  text-align: center;
  margin: 1.5em 0;
}

.orderDetailSection button {
  max-width: 40%;
  margin: 10px auto;
}
