.button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: var(--secondaryColor, #d9e5d6);
  max-width:200px;
  transition: 0.25s;
}

.button:hover .badge,
.button:active .badge {
  background-color: var(--accentTwo, #ff9b42);
}

.button:hover,
.button:active {
  background-color: var(--accentOne, #f9dc66);
}
